#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem 2rem;
    text-align: center;
}

.appointment-list {
    min-height: 50px;
    margin: auto;
    width: 500px;
}

.appointment {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.new-appointment-button {
    margin: 1rem;
}

.delete-appointment, 
.edit-appointment {
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 5px;
    height: 25px;
}

.delete-appointment, 
.edit-appointment,
.delete-controls {
    margin-bottom: 5px;
}

.delete-controls {
    display: flex;
}

.delete-controls div {
    border: 1px solid black;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
}


.new-appointment-form form label {
    text-align: left;
    margin-right: 10px;
}

.new-appointment-form form input {
    margin-left: 5px;
}

.location {
    display: inline-block;
    height: 22px;
}

.time {
    margin-left: 5px;
    height: 22px;
}